<?xml version="1.0" encoding="UTF-8"?>
<!-- @author <a href="https://github.com/cutepikachu-cn">笨蛋皮卡丘</a> -->
<!-- @version 0.0.1-SNAPSHOT -->
<!-- @since 2024-08-12 22:15:16 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cutepikachu.xtimer.mapper.TimerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.cutepikachu.xtimer.model.entity.Timer">
        <id column="timer_id" property="timerId" jdbcType="BIGINT"/>
        <result column="app" property="app" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="cron" property="cron" jdbcType="VARCHAR"/>
        <result column="notify_http_param" property="notifyHttpParam" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="is_delete" property="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `timer_id`, `app`, `name`, `status`, `cron`, `notify_http_param`, `create_time`, `update_time`, `is_delete`
    </sql>

</mapper>
