<?xml version="1.0" encoding="UTF-8"?>
<!-- @author <a href="https://github.com/cutepikachu-cn">笨蛋皮卡丘</a> -->
<!-- @version 0.0.1-SNAPSHOT -->
<!-- @since 2024-09-02 19:12:07 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cutepikachu.shorturl.mapper.UrlMapMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.cutepikachu.shorturl.model.entity.UrlMap">
        <id column="url_id" property="urlId" jdbcType="BIGINT"/>
        <result column="long_url" property="longUrl" jdbcType="VARCHAR"/>
        <result column="short_url" property="shortUrl" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `url_id`, `long_url`, `short_url`
    </sql>

</mapper>
